{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}

<!-- Slider start -->
{{ if $data.homepage.slider.enable }}
{{ with $data.homepage.slider }}
<section id="home" class="p-0">
  <div id="main-slide" class="cd-hero">
    <ul class="cd-hero-slider">
      {{ range $index, $elements:= .slider_item }}
      {{ $imgPosition := .image_position | lower }}
      <li class="{{if eq $index 0}}selected{{end}}">
        <div class="overlay2">
          <img src="{{ .bg_image | absURL }}" alt="slider">
        </div>
        {{if eq $imgPosition "right"}}
        {{ with .image }}
        <div class="cd-half-width cd-img-container img-right">
          <img src="{{ . | absURL }}" alt="">
        </div>
        {{ end }}
        {{ end }}
        <div class="{{if .image}}cd-half-width{{else}}cd-full-width{{end}}">
          <h2>{{ .title | markdownify }}</h2>
          <h3>{{ .subtitle | markdownify }}</h3>
          {{ range .buttons }}
          <a href="{{ .link | relLangURL }}" target="_blank" class="btn btn-primary {{.style}} cd-btn">{{ .label }}</a>
          {{ end }}
        </div>
        {{if eq $imgPosition "left"}}
        {{ with .image }}
        <div class="cd-half-width cd-img-container">
          <img src="{{ . | absURL }}" alt="">
        </div>
        {{ end }}
        {{ end }}
      </li>
      {{ end }}
    </ul>
    <!--/ cd-hero-slider -->

    <div class="cd-slider-nav">
      <nav>
        <ul>
          {{ range $index, $elements:= .slider_item }}
          <li class="{{if eq $index 0}}selected{{end}}"><a href="#0"><i class="{{ .navigator.icon }}"></i>
              <br>{{ .navigator.label }}</a></li>
          {{ end }}
        </ul>
      </nav>
    </div> <!-- .cd-slider-nav -->
  </div>
  <!--/ Main slider end -->
</section>
{{ end }}
{{ end }}
<!--/ Slider end -->


<!-- Service box start -->
{{ if $data.homepage.service.enable }}
{{ with $data.service.services }}
<section id="service" class="service angle">
  <div class="container">
    <div class="row">
      <div class="col-md-12 heading">
        {{ with .title_icon }} <span class="title-icon float-left"><i class="fa {{ . }}"></i></span> {{ end }}
        <h2 class="title">{{ .title | markdownify }} <span class="title-desc">{{ .subtitle | markdownify }}</span></h2>
      </div>
    </div><!-- Title row end -->

    <div class="row">
      {{ range $index,$elements:= .service_item }}
      {{ if lt $index 4}}
      <div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay=".{{mul $index 2}}s">
        <div class="service-content text-center">
          <span class="service-icon icon-pentagon"><i class="icon-padding-7 {{ .icon }}"></i></span>
          <h3>{{ .name | markdownify }}</h3>
          <p>{{ .content | markdownify }}</p>
        </div>
      </div>
      {{ end }}
      {{ end }}
    </div><!-- Content row end -->
  </div>
</section>
{{ end }}
{{ end }}
<!--/ Service box end -->

<!-- Portfolio start -->
{{ if $data.homepage.portfolio.enable }}
{{ partial "portfolio.html" . }}
{{ end }}
<!-- Portfolio end -->

<!-- Counter Strat -->
{{ if $data.homepage.funfact.enable }}
{{ partial "funfact.html" . }}
{{ end }}
<!--/ Counter end -->

<!-- Feature box start -->
{{ if $data.homepage.feature.enable }}
{{ with $data.homepage.feature }}
<section id="feature" class="feature">
  <div class="container">
    <div class="row">
      {{ range .feature_item }}
      <div class="feature-box col-sm-4 wow fadeInDown mb-4" data-wow-delay=".5s">
        <span class="feature-icon float-left"><i class="fa {{.icon}}"></i></span>
        <div class="feature-content">
          <h3>{{ .name | markdownify }}</h3>
          <p>{{ .content | markdownify }}</p>
        </div>
      </div>
      {{ end }}
    </div><!-- Content row end -->
  </div>
  <!--/ Container end -->
</section>
{{ end }}
{{ end }}
<!--/ Feature box end -->

{{ if $data.homepage.about.enable }}
{{ with $data.homepage.about }}
<section id="image-block" class="image-block p-0">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 ts-padding"
        style="min-height:400px;background:url('{{ .bg_image | absURL }}') 50% 50% / cover no-repeat;">
      </div>
      <div class="col-md-6 ts-padding img-block-right">
        <div class="img-block-head text-center">
          <h2>{{ .title | markdownify }}</h2>
          <h3>{{ .subtitle | markdownify }}</h3>
          <p>{{ .content | markdownify }}</p>
        </div>
        <div class="gap-30"></div>
        {{ range .about_item }}
        <div class="image-block-content">
          <span class="feature-icon float-left"><i class="fa {{ .icon }}"></i></span>
          <div class="feature-content">
            <h3>{{ .name | markdownify }}</h3>
            <p>{{ .content | markdownify }}</p>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!--/ Image block end -->


<!-- Team start -->
{{ if $data.homepage.team.enable }}
{{ partial "team.html" . }}
{{ end }}
<!--/ Team end -->

<!-- Parallax 1 start -->
{{ if $data.homepage.call_to_action.enable }}
{{ with $data.homepage.call_to_action }}
<section class="parallax" style="background-image: url('{{ .bg_image | absURL}}');">
  <div class="parallax-overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>{{ .title | markdownify }}</h2>
        <h3>{{ .subtitle | markdownify}}</h3>
        <p>
          {{ range .buttons }}
          <a href="{{ .link | relLangURL }}" class="btn btn-primary {{.style}}">{{ .label }}</a>
          {{ end }}
        </p>
      </div>
    </div>
  </div><!-- Container end -->
</section><!-- Parallax 1 end -->
{{ end }}
{{ end }}


<!-- Pricing table start -->
{{ if $data.homepage.pricing.enable }}
{{ partial "pricing.html" . }}
{{ end }}
<!--/ Pricing table end -->


<!-- Testimonial start-->
{{ if $data.homepage.testimonial.enable }}
{{ partial "testimonial.html" . }}
{{ end }}
<!--/ Testimonial end-->


<!-- Clients start -->
{{ if $data.homepage.clients_logo_slider.enable }}
{{ with $data.homepage.clients_logo_slider }}
<section id="clients" class="clients">
  <div class="container">
    <div class="row wow fadeInLeft">
      <div id="client-carousel" class="col-sm-12 owl-carousel owl-theme text-center client-carousel">
        {{ range .slider_item }}
        <figure class="m-0 item client_logo">
          <a href="{{ .link | safeURL }}" target="_blank">
            <img src="{{ .logo | absURL }}" alt="{{ .name }}">
          </a>
        </figure>
        {{ end }}
      </div><!-- Owl carousel end -->
    </div><!-- Main row end -->
  </div>
  <!--/ Container end -->
</section>
{{ end }}
{{ end }}
<!--/ Clients end -->



{{ end }}
