{{ define "main" }}

<section id="portfolio-item">
  <div class="container">
    <!-- Portfolio item row start -->
    <div class="row">
      <!-- Portfolio item slider start -->
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <div class="portfolio-slider">
          <div class="flexportfolio flexslider">
            <ul class="slides">
              {{ range .Params.images }}
              <li><img src="{{ . | absURL }}"></li>
              {{ end }}
            </ul>
          </div>
        </div>
      </div>
      <!-- Portfolio item slider end -->

      <!-- sidebar start -->
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="sidebar">
          <div class="portfolio-desc">
            <h3 class="widget-title">We Are OpenInfra</h3>
            <p>{{ .Content }}</p>
            <br />
            {{ with .Params.Clients }}
            <h3 class="widget-title">Location</h3>
            <p>{{ . | markdownify }}</p>
            {{ end }}
            <p><a href="#" class="project-btn btn btn-primary">Register Now</a></p>
          </div>
        </div>
      </div>
    </div><!-- Portfolio item row end -->
  </div><!-- Container end -->
</section>

{{ end }}
