{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}

<section id="main-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        {{ $.Scratch.Set "counter" 0 }}
        {{ range $data.volunteers.volunteers }}
        {{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
        <h3 class="title-border">{{ .title | markdownify }}</h3>
        <p>{{ .content | markdownify }}</p>
        <div class="accordion" id="accordion{{$.Scratch.Get `counter`}}">
          {{ $.Scratch.Set "counter2" 0 }}
          {{ range .job_accordion }}
          {{ $.Scratch.Set "counter2" (add ($.Scratch.Get "counter2") 1) }}
          <div class="card border rounded mb-2">
            <div class="card-header p-0">
              <a class="h4 mb-0 font-weight-bold text-uppercase d-block p-2 pl-5" data-toggle="collapse"
                data-target="#collapse{{$.Scratch.Get `counter`}}{{$.Scratch.Get `counter2`}}" aria-expanded="false" aria-controls="collapse{{$.Scratch.Get `counter`}}{{$.Scratch.Get `counter2`}}">{{ .name }}</a>
            </div>
            <div id="collapse{{$.Scratch.Get `counter`}}{{$.Scratch.Get `counter2`}}" class="collapse" data-parent="#accordion{{$.Scratch.Get `counter`}}">
              <div class="card-body">
                <ul class="list-unstyled arrow">
                  {{ range .bullet_point }}
                  <li>{{ . | markdownify }}</li>
                  {{ end }}
                </ul>
              </div>
            </div>
          </div>
          {{ end }}
          <div class="gap-20"></div>
          <p><a href="https://forms.gle/TCWj9xTCmbmgF3PCA" class="btn btn-primary solid">Apply Now <i class="fa fa-long-arrow-right"></i></a></p>
        </div>
        <div class="gap-40"></div>
        {{ end }}
      </div>
      <!--/ Content col end -->

      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="sidebar sidebar-right">
          <!-- category start -->
          <div class="widget">
            {{ .Content }}
          </div><!-- tags end -->
        </div>
        <!--/ Sidebar end -->
      </div>
      <!--/ Sidebar col end -->
    </div>
    <!--/ row end -->
  </div>
  <!--/ container end -->
</section>

{{ with $data.team }}
<section id="team" class="team">
  <div class="container">
    <div class="row">
      <div class="col-md-12 heading">
        {{ with .title_icon }} <span class="title-icon float-left"><i class="fa-solid {{ . }}"></i></span> {{ end }}
        <h2 class="title">{{ .title | markdownify }} <span class="title-desc">{{ .subtitle | markdownify }}</span></h2>
      </div>
    </div><!-- Title row end -->

    <div class="row text-center">
      {{ range $index,$elements:= .team_member }}
      <div class="col-md-3 col-sm-6 mb-5">
        <div class="team wow fadeInUp" data-wow-delay=".{{mul $index 2}}s">
          <div class="img-hexagon">
            <img src="{{ .image | absURL }}" alt="{{ .name | markdownify }}">
            <span class="img-top"></span>
            <span class="img-bottom"></span>
          </div>
          <div class="team-content">
            <h3>{{ .name | markdownify }}</h3>
            <p>{{ .designation | markdownify }}</p>
            <div class="team-social">
              {{ range .social }}
              <a class="{{ .name }}" href="{{ .link | safeURL }}"><i class="fa-brands {{.icon}}"></i></a>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
    <!--/ Content row end -->
  </div>
  <!--/ Container end -->
</section>
{{ end }}

{{ end }}
