{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}

{{ with $data.team }}
<section id="team" class="team">
  <div class="container">
    <div class="row">
      <div class="col-md-12 heading">
        {{ with .title_icon }} <span class="title-icon float-left"><i class="fa {{ . }}"></i></span> {{ end }}
        <h2 class="title">{{ .title | markdownify }} <span class="title-desc">{{ .subtitle | markdownify }}</span></h2>
      </div>
    </div><!-- Title row end -->

    <div class="row text-center">
      {{ range $index,$elements:= .team_member }}
      <div class="col-md-3 col-sm-6 mb-5">
        <div class="team wow fadeInUp" data-wow-delay=".{{mul $index 2}}s">
          <div class="img-hexagon">
            <img src="{{ .image | absURL }}" alt="{{ .name | markdownify }}">
            <span class="img-top"></span>
            <span class="img-bottom"></span>
          </div>
          <div class="team-content">
            <h3>{{ .name | markdownify }}</h3>
            <p>{{ .designation | markdownify }}</p>
            <div class="team-social">
              {{ range .social }}
              <a class="{{ .name }}" href="{{ .link | safeURL }}"><i class="fa {{.icon}}"></i></a>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
    <!--/ Content row end -->
  </div>
  <!--/ Container end -->
</section>
{{ end }}

{{ end }}